// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class*='col'] {
  float: left;
}

.col-1-3 {
  text-align: center;
  width: 33.33%;
}

.col {
  text-align: center;
}

.grid-item {
  margin: 10px;
  margin-bottom: 4%;
  padding: 2%;
  border: 1px solid;
  div.grid-item-price-stock::after {
    clear: both;
    content: "";
    height: 0;
    display: block;
  }
  div.actions a {
    text-decoration: none;
    color: grey;
    padding: 4px;
  }
  div.actions a:hover {
    text-decoration: none;
    color: black;
    background: white;
  }
  div.grid-item-price {
    width: 48%;
    padding-bottom: 5px;
    padding-top: 5px;
    float: left;
    margin-bottom: 33px;
    border: 1px solid #000;
    span {
      &.current-price {
        color: green;
      }
      &.original-price {
        text-decoration: line-through;
        font-size: 75%;
      }
    }
  }
  div.grid-item-stock {
    width: 48%;
    padding-bottom: 5px;
    padding-top: 5px;
    float: right;
    margin-bottom: 33px;
    border: 1px solid #000;
  }
}

.grid-item-no-borders {
  vertical-align: middle;
  width: 350px;
  height: 80px;
  padding-bottom: 30px;
  div.grid-item-name {
    padding-bottom: 10px;
  }
  span.product-name {
    font-size: 200%;
  }
  div.actions a {
    text-decoration: none;
    color: grey;
    padding: 4px;
  }
  div.actions a:hover {
    text-decoration: none;
    color: black;
    background: white;
  }
  div.grid-item-price, div.grid-item-stock {
    width: 50%;
    float: left;
  }

  p {
    padding: 0px;
    margin: 0px;
  }
}

.grid-item-no-borders:after {
  content: "";
  display: table;
  clear: both;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

form#new_comment:after {
  content: "";
  display: table;
  clear: both;
}

label {
  font-weight: bold;
  padding-bottom: 10px;
}

div.field {
  textarea {
    width: 100%;
    height: 100px;
  }
}

form#new_comment {
  width: 50%;
  div.actions input[type=submit] {
    float: right;
  }
}

div.product-description {
  margin-bottom: 30px;
}

div.form {
  text-align: center;
  width: 50%;
  border: 1px solid black;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  .form-title, .form-actions {
    text-align: left;
  }
  textarea {
    width: 80%;
    height: 80px;
  }
  .paragraph-note {
    margin-top: 0px;
    padding-top: 0px;
    font-style: italic;
    color: red;
  }
}

div.categories {
  li.category-link {
    float: left;
    list-style: none;
    padding-left: 5%;
  }
}

div#index-title {
  width: 100%;
  h1 {
    float: left;
    margin-left: 10px;
  }
  input.search {
    float: right;
    margin: 1%;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input.search:focus {
    width: 50%;
  }
}

div#index-actions {
  a {
    margin-left: 10px;
  }
}

div#index-title::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

div#product-details {
  div#product-image-cats {
    float: left;
    width: 20%;
    div#product-image {
      img {
        border: 1px solid #eee;
        width: 100%;
      }
    }
    div#product-cats {
      margin-bottom: 20px;
      ul {
        margin: 0;
        padding: 0;
        li.category-link {
          float: left;
          list-style: none;
          padding-right: 5%;
        }
      }
    }
    div#product-cats::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
  }
  div#product-info {
    margin-left: 20px;
    float: left;
    width: 50%;
    div#product-title {
      h1 {
        a {
          color: grey;
          text-decoration: none;
          margin-left: 5px;
        }
        a:hover {
          color: black;
          background: none;
        }
      }
    }
    div#product-desc {}
    div#product-price-stock {
      margin: 30px;
      font-size: 200%;
      div#product-price {
        float:left;
        text-align: center;
        width: 50%;
        span {
          &#current-price {
            color: green;
          }
          &#original-price {
            text-decoration: line-through;
            font-size: 75%;
          }
        }
      }
      div#product-stock {
        float:left;
        text-align: center;
        width: 50%;
      }
      div#product-stock.in-stock {
        color: green;
      }
      div#product-.out-of-stock {
        color: red;
      }
    }
    div#product-price-stock::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
    div#product-add-to-cart-form {
      text-align: center;
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 500px;
      height: 300px;
      background: #ccc;
      text-align: center;
      line-height: 300px;
      img {
      	margin-left: auto;
      	margin-right: auto;
      	display: block;
      }
    }
  }
}
a.control-prev, a.control-next {
  position: absolute;
  top: 40%;
  z-index: 10;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
}
a.control-prev {
  border-radius: 0 2px 2px 0;
}
a.control-next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
