// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {

  text-align: center;
  margin-bottom: 3%;

  span.actions a {
    text-decoration: none;
    color: grey;
    padding: 4px;
  }
  span.actions a:hover {
    text-decoration: none;
    color: black;
    background: white;
  }
}

div#avatar-purchases {
  text-align: center;
}

div#avatar {
  display: inline-block;
}

div#user-purchases {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
}

h2#purchase-table-title {
  text-align: center;
}
