<div class="form">
  <h1 class="form-title">Edit Product</h1>

  <%= render 'form', product: @product %>
  <div class="form-actions">
    <%= link_to 'Back', products_path, class: "actions" %>
  </div>
</div>
