<div class="search">
  <form class="search" action="" method="GET">
    <input type="text" class="search" name="name" placeholder="Search by name...">
  </form>
</div>

<div id="main-index">
  <%= render 'index_display', products: @products %>
</div>

<br>
<% if current_user && current_user.role.name == "admin" %>
  <%= link_to 'New Product', new_product_path, class: "actions" %>
<% end %>
